<div ng-controller='frontlist' ng-show="c.iready" class='container fteaserwrap'>
	<div ng-repeat='story in list' class="fouter" ng-mouseEnter="down($event)" ng-mouseLeave="down($event)">
		<div class='w100 fteaser' ng-show="c.iready">
			<a href='/#/story?story={{story.title}}'>
				<span class='ftitle'>{{story.title}}</span>
				<img ng-src='/resources/timage/{{story.location}}' />
			</a>
		</div>
		<div class="storydets">
			<div class="inner">
				{{story.text}}
			</div>
		</div>
	</div>
	<div class='clearfix'></div>
	<div id='login' ng-hide="user.authorised">
		<a ng-click='modal("login")' ng-if="!locate.embedded">Login</a>
	</div>
</div>

