Options +Indexes

AddType video/ogg .ogm 
AddType video/ogg .ogv 
AddType video/ogg .ogg 
AddType video/webm .webm 
AddType audio/webm .weba
AddType video/mp4 .mp4 
AddType video/x-m4v .m4v

AddType image/gif .gif
AddType image/gif .giff
AddType image/jpg .jpg
AddType image/jpg .jpeg
AddType image/png .png
