/*
Copyright 2017 Michael Jonker (http://openpoint.ie)

This file is part of Aesop.

Aesop is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
any later version.

Aesop is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Aesop.  If not, see <http://www.gnu.org/licenses/>.
*/

.clearfix:after {
content: " "; /* Older browser do not support empty content */
visibility: hidden;
display: block;
height: 0;
clear: both;
}

body, html{
height:100%;
width:100%;
position:relative;
overflow:hidden;
}
body.home{
	overflow-y:auto;
}
.underline {
text-decoration:underline;
}
.message{
color: #00529B;
background-color: #BDE5F8;
}
.success{
color: #4F8A10;
background-color: #DFF2BF;
}
.warning{
color: #9F6000;
background-color: #FEEFB3;
}
.error{
color: #D8000C;
background-color: #FFBABA;
}

.bubb{
border-radius:14px;
}
video {
position:absolute;
z-index:1;
top:0;
left:0;
}
h1{
font-weight:700;
font-size:1.2em;
line-height:1.2em;
text-transform:uppercase;
color:white;
margin:1em 0;
font-family: 'Lato', sans-serif;
text-shadow: 2px 2px 2px black;
}

h2{
font-size:1.1em;
font-weight:400;
margin:0;
font-family: 'Lato', sans-serif;
}
h3 {
font-size:1em;
font-weight:normal;
text-transform:uppercase;
margin:0;
}
#sidebar h3{
opacity:.5;
}

ul {
padding:0;
margin:0;
}
#loader {
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background-color:#527489;
opacity:.95;
z-index:2000;
background-image:url('loader.gif');
background-repeat:no-repeat;
background-position:center center;
}
#login a{
	display:block;
	padding:.5em;
	background:rgba(255,255,255,.5);
	position:fixed;
	right:10px;
	top:10px;
	cursor:pointer;
	z-index:1000;
}
#admin, #admin2 {
position:relative;
font-family:monospace;
}
.admin h1{
font-weight:bold;
text-shadow:none!important;
font-family:monospace;
color:black;
}
.admin h2{
text-shadow:none!important;
font-family:monospace;
color:black;
text-transform:uppercase;
text-decoration:underline;
font-size:1em;
margin-bottom:.5em;
}
.admin li{
display:inline-block;
padding:.5em 1em;
cursor:pointer;
}
#admin_order li {
display:block;
}
#adminwrap {
position:absolute;
z-index:30;
margin-top:1px;
border-bottom:1px solid black;
}
#admin2{
position:relative;
top:1px;
z-index:1;
}
#a2con{
width:200px;
float:left;
height:5000px;
text-transform:uppercase;
box-sizing:border-box;

}
.sidemen{
cursor:pointer;
padding:20px 10px;
}
.sidemen:hover{
background:#e9e9e9;
}
.sidemen.active{
background:#e9e9e9;
border:1px solid black;
border-right:none;
border-left:none;
position:relative;
z-index:1;
}
.sidemen.active.first{
border-top:none;
}
#a2frame{
box-sizing:border-box;
padding:20px;
float:left;
overflow-y:auto;
background:#e9e9e9;
border-left:1px solid black;
position:relative;
left:-1px;
}
#a2frame #notification{
width:50%;
}
#a2frame .bubb{
position:relative;
}
#a2frame .closer{
position:absolute;
top:20px;
right:20px;
left:auto;
}
#adminjobs {
max-width:700px;
}
#adminjobs .bubb{
padding:20px;
margin-top:10px;
position:relative;
padding-right:70px;
}
#notification .bubb{
padding:15px;
margin-bottom:10px;
}
#notification .bubb:after, #notification .inner:after{
content:'X';
position:absolute;
top:10px;
right:10px;
color:black;
}
.bubbrow{
margin-bottom:10px;

}
#adminjobs .cntr{
position:absolute;
top:15px;
right:15px;
color:black;
cursor:pointer;

}
.cntr div{
margin-bottom:5px;
}
.adminbar {
background:#8B9FAC;
width:100%;
overflow:hidden;
}
#notification{
color:black;
cursor:pointer;
}
#notification .inner{
padding:1em;
border-bottom:1px solid black;
}

#viewport{
position:relative;
}
#bookmark{
position:absolute;
left:0;
top:100%;

color:white;
background:black;
}
#bookmark span{
padding:10px;
display:inline-block;
}
#bookmark .closer{
background:black;
}
#panel{
background:url('128-198.jpg');
left:0;
top:0;
position:absolute;
overflow:hidden;
}

#panel img.overlay {
position:absolute;
top:0;
left:0;
z-index:2;
}
#textframe{
color:white;
position:absolute;
width:30%;
padding-left:5%;
top:0;
left:0;
background:url(bfade.png);
background-size: 102% 1px;
background-repeat:repeat-y;
z-index:3;
overflow:hidden;
font-size:1.2em;
line-height:1.5em;
box-sizing:border-box;
}
#textframe .inner {
position:relative;
padding-top:40px;
}
#textframe .inner p{
margin-bottom:500px;
}
#textframe.story .inner{
height:100%;
}
#textframe.story .story_in{
position:absolute;
bottom:100px;
}
#textframe.story p{
margin-bottom:0;
}
#textframe.story h1, #textframe.chapter h1{
font-size:2em;
}

#textprog{
height:2px;
background:green;
}
#order_controls {
position:absolute;
bottom:0;
left:0;
width:30%;
color:white;
z-index:20;
background:url(bfade.png);
background-size: 102% 1px;
background-repeat:repeat-y;
}
#order_controls .inner{
height:38px;
}
#order_controls .next{
padding-top:10px;
float:right;
margin-right:1em;
cursor:pointer;
color:#8B9FAC;
}
#order_controls .back{
padding-top:10px;
float:left;
margin-left:1em;
cursor:pointer;
color:#8B9FAC;
}
#order_controls .scroll{
padding-top:10px;
float:left;
margin-left:40%;
cursor:default;
font-style:italic;
}
#sidebar{
width:110px;
background:#527489;
position:absolute;
right:0;
top:0;
z-index:100;
font-size:12px;
}
#sidebar .chapter{
color:white;
padding:.5em 8px;
position:relative;
}
.story.title{
text-transform:uppercase;
font-weight:700;
font-family: 'Lato', sans-serif;
text-shadow: 2px 2px 2px black;
}
#sidebar .chapter.active{
padding-right:0;
}
#sidebar .chapter.active .wtftag{
border-left:7px solid #8B9FAC;
padding-left:10px;
position:relative;
left:-15px;
}
#sidebar .chapter:hover{
background:#8B9FAC;
}
#sidebar .pagelist {
position:absolute;
top:0;
right:100%;
width:200%;
background:#8B9FAC;
opacity:0;
padding-bottom:2em;
z-index:1;
}
#admin_order .pagelist {
padding-right:100px;
}
#sidebar li {
padding:.5em 5px;
display:block;
}
#sidebar .pagelist li{
padding:.5em 1em;
}
#sidebar .pagelist li.top{
padding-top:2em;
}
#sidebar .pagelist li.bottom{
padding-bottom:1em;
}
#sidebar .image {
padding:0!important;
}
#sidebar li:hover {
background:#527489;
}
#sidebar img {
width:100%;
line-height:0;
display:block;
}
.updown {
float:right;
text-transform:lowercase;
}
#admin_order .updown{
position:absolute;
right:20px;
}
#sidebar .pagelist .link {
z-index:10;
}
#media {
position:absolute;
top:0;
left:0;
z-index:1;
width:100%;
height:100%;

}

#mediafocus{
width:100%;
height:100%;
position:relative;
z-index:0;

}
#mediafocus .inner {
opacity:1!important;
}
#vidcontrols {

position:absolute;
bottom:80px;

z-index:2000;
}
#vidcontrols .inner{
background:rgba(82,116,137,.3);
color:white;
padding:8px;
padding-bottom:15px;
}
#vidcontrols .wrapper{
position:relative;


}
.vidtime {
float:right;
}
.vcontrols{
background:#527489;
padding:8px;
color:white;
position:relative;
}
#vprogress {
position:absolute;
top:-5px;
left:0;
width:100%;
cursor:pointer;
}
#vprogress .bar{
background:green;
height:5px;
position:relative;
}
#vprogress .lbar{
background:green;
opacity:.3;
height:5px;
position:absolute;
top:0;
left:0;
}
.video {
margin:10px 0 0 10px;
}
.link {
cursor:pointer;
}

.edit {
position:absolute;
right:0;
cursor:pointer;
background:rgba(0,0,0,.5);
padding:.25em .5em;

}
.topmen .user {
float:right;
}
.topmen .activities{
float:left;
}
.topmen .active{

position:relative;
}
.topmen .active::after{
content:"";
width:100%;
height:8px;
background:url('da.png');
background-repeat:no-repeat;
background-position:center top;
position:absolute;
bottom:-13px;
left:0;
z-index:100;
border-top:5px solid black;
}
#admin_resource .active {
background:#E9E9E9;
border-top:1px solid black;
border-bottom:1px solid black;
border-right:1px solid #E9E9E9;
cursor:default;
position:relative;
}
#admin_resource .active.first {
border-top:none;
}
#admin_resource .active::after
{
content:"";
position:absolute;
width:2px;
height:100%;
background:#E9E9E9;
right:-2px;
top:0;
}
.pimage {
position:absolute;
z-index:0;
}
#mediafocus .pimage{
	z-index:100;
}
#media .bvideo, #media .pimage {
/* visibility:hidden; */
}
#media .bvideo {
display:none;
}
#preload {
display:none;
}
#backspacer{
height:40px;
}
#volume{
position:absolute;
top:10px;
right:10px;
z-index:10;
cursor:pointer;
padding:10px;
background:rgba(255,255,255,.2);
color:white;
}

.icon-volume-off{
color:orange;
}
.playbut {
display:inline-block;
cursor:pointer;
position:relative;
z-index:1000;
}
.chaphover{
border-bottom:2px solid #527489;
margin-bottom:1em;
-webkit-box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.51);
-moz-box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.51);
box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.51);
}
.chaphover:hover{
background:#527489;
}
.chaphover h1{
margin-top:0;
}
#acontrols {
position:absolute;
top:10px;
right:60px;
z-index:10000;
opacity:1;
}
#touchtrigger {
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
z-index:4;
}
.container.fteaserwrap {
	padding:40px 10px;
	box-sizing: border-box;
}
#fintro{
	max-width:600px;
	margin:0 auto;
	padding-bottom:20px;
	text-align:center;
}
#fintro p{
	text-align:left;
	line-height:1.5em;
}
#fintro a{
	color:#517488;
}
#fintro .alpha{
	font-size:.8em;
	color:#517488;
	text-align:center;
}
#fintro h1{
	color:#517488;
	text-shadow:none;
}
.button{
	border:1px solid #517488;
	color:#517488;
	cursor:pointer;
	display:inline-block;
	padding:6px;
	margin-top:10px;
}
li .denied{
	opacity:.5;
	font-size:.85em;
}
#footer {
	display:none;
	width:100%;
	border-top:1px solid #517488;
	text-align:center;
	padding:20px 0;
	box-sizing: border-box;
	color:#517488;
}
#footer img{
	height:40px;
	width:auto;

}
.home #footer{
	display:block;
}
.home #viewport{
	height:auto!important;
}
body.home{
	display:flex;
	flex-direction:column;
}
.home #mainwrapper{
	flex-grow:1;
}
#openpoint span{
	padding-left:10px;
}
#openpoint{
	display:inline-flex;
	align-items:flex-end;
	text-align:left;
	text-decoration:none;
	color:black;
	opacity:.65;
	font-size:.7em;
}
.nothing p{
	text-shadow:none;
	font-size:.75em;
	text-transform:none;
}

/* ------------------------------------------------------------------------------------------forms css stylesheet */
#admin h1{
color:black;
font-size:1.2em;
}
#admin h1{
color:black;
font-size:1em;
}
.help h1{
color:white!important;
}
textarea {
line-height:1.2em;
}
.progress {
border:1px solid black;
}
.progress div {
background:green;
}
.teaser img{
width:150px;
margin:0 0 1em;
}

.admin_section {
float:left;
border-right:1px solid black;
padding:1em 1em;
padding-right:3em;
height:100%;
overflow:hidden;
background:#E9E9E9;
position:relative;
}
.admin_section.help {
background:none;
border-right:none;
color:white;
line-height:1.5em;
}
#admin {
border-bottom:1px solid black;

}
#admin .topmen{
padding:5px 0;
}
#admin_resource .r_type {
background:white;
padding:0;
margin:0;
z-index:10;
overflow:visible;
}
#admin_resource li {
display:block;
}
.r_type li {
padding: 1em 3em 1em 1em!important;
position:relative;
top:-1px;
}
.r_type li:hover {
background:#E9E9E9
}
input:not([type="submit"]):not([type="file"]) {
border:none!important;
}
input[type="submit"], input[type="file"], button{
margin:1.5em 0;
}
input[type="textinput"], input[type="password"]{
width:300px;
height:30px;
}
input[type="number"]{
width:34px;
}
.slicerow{
margin:1em 0;
}
input[disabled="disabled"],button[disabled]{
color:grey;
}
input[type="file"]:hover{
cursor:pointer;
}
textarea{
min-width:300px;
min-height:200px;
border:none!important;
padding:.5em;
}
.label {
margin-bottom:.5em;
margin-top:2em;
font-weight:bold;
}
span.label{
display:inline-block;
}
#admin .file {
padding:.5em 0;
cursor:pointer;
}
.carry {
color:#527489;
cursor:default!important;
}

.container {
width:1200px;
position:relative;
margin: 0 auto;
max-width:100%;
}
.fteaserouter{
	border:1px solid #517488;
	margin:2px;
}
.fteaser {
	overflow:hidden;
}
.fouter{
	position:relative;
	float:left;
	width:25%;
}
.storydets{
	position:absolute;
	width:100%;
	left:0;
	z-index:10;
	height:0;
	overflow:hidden;
	pointer-events:none;
	padding:0 2px;
	box-sizing:border-box;
}
.storydets .inner{
padding:.75em;
padding-left:2em;
background:rgba(82,116,137,.8);
color:white;
line-height:1.5em;
}
.w100 img{
width:100%;
line-height:0;
display:block;
}
.ftitle{
text-decoration:none;
position:absolute;
top:10px;
left:10px;
color:white;
text-transform:uppercase;
font-weight:700;
font-family: 'Lato', sans-serif;
text-shadow: 2px 2px 2px black;
}
.closer{
font-weight:bold;
padding:5px 10px;
font-size:2em;
cursor:pointer;
position:absolute;
top:100%;
left:0;
}
.spinner{
display:inline-block;
width:16px;
height:16px;
background:url("spinner.gif");
position:relative;
top:3px;
}
/* ---------------------------------------------------------------------------------infield labels css stylesheet */
/*
::-webkit-input-placeholder {
    color:white;
    opacity:.5;
}
:-moz-placeholder {
    color:white;
    opacity:.5;
}
::-moz-placeholder {
    opacity:.5;
}
:-ms-input-placeholder {
    color:white;
    opacity:.5;
}
*/
.infield {
position:relative;
line-height:1em;
text-align:left;
margin: 1.5em 0;
}
.infield input {
margin:0!important;
}
.infield label {
position:absolute;
color:grey!important;
background:none!important;
pointer-events:none;
text-transform:uppercase;
left:0;
top:0;
}

textarea
.infield.required label {
border-left:2px solid #B8121C;
}
.infield input, .infield label {
font-size:14px;
line-height:30px;
padding:0;
padding-left:5px;
}

.infield input:focus + label, .infield textarea:focus + label {
color:#E8E8E8!important;
}

/* modals css stylesheet */
#modal h1{
color:black;
}
#modal, #landscape {
background:rgba(82, 116, 137, .9);
position:fixed;
width:100%;
height:100%;
z-index:1000;
display:table;
text-align:center;
}
#modal .inner, #landscape .inner {
display:table-cell;
vertical-align:middle;

}
#modal .content {
width:300px;
height:300px;
margin:0 auto;
background:#E9E9E9;
padding:2em;
position:relative;
}
#modal .yesno{
position:absolute;
bottom:0;
width:100%;
left:0;
}
#modal .yesno a{
cursor:pointer;
display:inline-block;
padding:2em;
}
#modal input[type="textinput"], #modal input[type="password"]{
width:100%;
}
#home {

}
.icon-home {
color:white;
text-decoration:none;
font-size:1.5em;
text-shadow: 2px 2px 2px black;
}
/* ---------------------------------------------------------------------------------Animations */
